
;; Functions to draw common features of startup (announcement) packets.

;; Some nice default background colors, used to distinguish header sections.
(defattrs :bg-green {:fill "#a0ffa0"})

(defattrs :bg-blue {:fill "#80a0ff"})

(defn draw-packet-header
  "Generates the byte labels and first two rows of a standard DJ Link
  startup packet with the specified `kind` byte."
  [kind index length]
  (draw-column-headers)
  (draw-box 00 :box-first)
  (draw-box kind [:bold :bg-green :box-last])
  (draw-box index [{:span 2} :bg-blue])
  (draw-box length [{:span 2} :bg-blue]))