
;; Functions to draw common features of startup (announcement) packets.

;; Some nice default background colors, used to distinguish header sections.
(defattrs :bg-green {:fill "#a0ffa0"})

(defattrs :bg-blue {:fill "#80a0ff"})

(defn draw-packet-header
  "Generates the byte labels and first two rows of a standard DJ Link
  startup packet with the specified `kind` byte."
  []
  (draw-column-headers)
  (draw-box 0xf0 [:bold :bg-green])
  (draw-box 0x004005 [{:span 2} :bg-green])
  (draw-box "spread USB-PID" [{:span 4} :bg-blue]))